<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/login">Log in</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (currentUser) { %>
      <p>You are logged in as <%= currentUser %></p>
    <% } else { %>
      <h1>Log In</h1>
      <form method="POST" action="/login">
        <label for="username">Username</label>
        <input name="username" placeholder="Username" type="text">
        <label for="password">Password</label>
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Log In</button>
      </form>
    <% } %>
  </body>
</html>
